*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
h1, h2, h3,h4,h6 {
    margin-top: 30px;
}
#git-icon{
    width: 90px;
    height: 90px;
}
#rs-icon{
    width: 90px;
    height: 90px;
    margin-left: 10px;
}
#vk{
    width: 90px;
    height: 90px;
}
.tec_icons:hover{
    filter: drop-shadow(16px 16px 20px green);
    transform: skew(30deg, 20deg) ;
}

.C {
    width: 150px;
}
.unity{
    width: 300px;
}

.icons:hover{
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}
span.icons{
    display: inline-block;
    margin-top: 40px;
    transition: all 0.5s ease;
}
footer{
    text-align: center;
    padding-bottom: 20px;
    background-image: linear-gradient( rgb(15, 15, 15), rgb(79, 155, 4));
}
header{
    background-image: linear-gradient( rgb(79, 155, 4) ,rgb(15, 15, 15));
    display: flex;
    flex-direction: column;
}

.logo-box
{
    display: flex;
    justify-content: space-between;

}

.nav_items
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav_items #default{
    cursor: pointer;
}
.nav_items #default:after {
    display: block;
    content: "";
    height: 3px;
    width: 100%;
    background-color: rgb(79, 155, 4);
    transition: width 0.4s ease-in-out;
    cursor: pointer;
}

.nav_items a {
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
}
.nav_items a:after {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: rgb(79, 155, 4);
    transition: width 0.4s ease-in-out;
}

.nav_items a:hover:after,
.nav_items a:focus:after {
    width: 100%;
    cursor: pointer;
}

.nav_items a:hover {
    color: #FFFFFF;
    cursor: pointer;
}

body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    background-color: rgb(15, 15, 15);
    line-height: 1.9rem;
    font-size: 1.3em;
}
#me{
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
    border-radius: 5%;  
}

#top_header{
    text-align: right;
    color: black ;
    line-height: 39px;
    margin-top: 50px;
    text-align: center;

    border-top: 5px double;
    border-bottom: 5px double;
    height: 40px;
    width: 400px;
}

h1{
    align-self: right;
    text-transform: uppercase;
    border-top: 5px double;
    border-bottom: 5px double;
    margin-bottom: 10px;
}
.content{
    width: 1000px;
    margin: 0 auto;
    border: 5px solid rgb(79, 155, 4);
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.main{
    padding: 10px;
}
aside{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h1, h2 {
    text-align: center;
    text-transform: uppercase;
    border-top: 5px double rgb(79, 155, 4);
    border-bottom: 5px double rgb(79, 155, 4);
    margin-bottom: 10px;
}



.colored{
    color: rgb(79, 155, 4);
}
a:link{
    color: rgb(79, 155, 4);
}
a:visited{
    color: greenyellow;
}
a:hover{
    color: rgb(79, 155, 4);
}
a:active{
    color: white;
}
#contacts{
    list-style: none;
}
nav{
    margin-top: 10px;
}
nav ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4em, 1fr));
    margin: 0%;
    text-align: center;
    font-family: fantasy;
}

nav ul li a {
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
}



.menu__box, .hamburger-menu, #menu__toggle{
    display: none;
}





@media screen and (max-width: 800px) {
    .content{
        display: block;
        max-width: fit-content;
    }
    #me{
        max-width: 30%;
    }
    .logo-box
    {
        width: 100%;
        flex-direction: row;
    }
    header
    {
        flex-direction: column;
    }
    #top_header{
        max-width: 400px;
        font-size: 30px;
    }
    .menu{
        display: none;
    }
.hamburger-menu{
    display: block;
}

  
    main{
        display: block;
    }
    .tec_icons{
        max-width: 10%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #menu__toggle {
        opacity: 0;
      }
      /* button styles */
      .menu__btn {
        display: flex; 
        align-items: center;
        position: fixed;
        margin-left: 20px;
        top: 20px;
        right: 25px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    
      }
      /* burger here */
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: white;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
    
      .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin-right: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: black;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      }
      /* menu elements */
      .menu__item {
        display: block;
        padding: 12px 24px;
    
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }
      .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      transition-duration: .25s;
    }
    .menu__box {
      transition-duration: .25s;
    }
    .menu__item {
      transition-duration: .25s;
    }
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }

      nav ul{
display: none;
    }
    .programming_languages {
        margin-left: 15px;
    }

    .content{
        max-width: 95%;
    }



}